<ibm-modal
  [open]="open"
  (overlaySelected)="closeModal()"
  size="sm">
  <ibm-modal-header (closeSelect)="closeModal()">Vault password</ibm-modal-header>
  <section class="bx--modal-content">
    <ibm-label>
      {{prompt}}
      <input
        modal-primary-focus 
        ibmText
        type="password"
        [(ngModel)]="password"
        (keydown.enter)="returnPassword()"
      >
    </ibm-label>
  </section>
  <ibm-modal-footer>
    <button class="bx--btn bx--btn--secondary" (click)="closeModal()">Abbrechen</button>
    <button class="bx--btn bx--btn--primary" (click)="returnPassword()">OK</button>
  </ibm-modal-footer>
</ibm-modal>
