.SearchField {
  padding: 0;
}

.SearchButton {
  height: 48px;
  max-width: unset;
  /* Interactive/$interactive-01 */
  background: #010E52;
  border-radius: 0px;
}

.DirectoryEntryRow {
  cursor: pointer;
}

.DirectoryEntryRow:hover {
  background-color: #f4f4f4;
}

::ng-deep .cds--data-table thead {
  background-color: #ffffff !important;
}

::ng-deep .cds--data-table th {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.28572;
  letter-spacing: 0.16px;
  display: table-cell;
  height: 2.5rem;
  color: #161616;
  font-weight: 600;
  text-align: left;
  text-transform: none;
  vertical-align: top;  
  background-color: #ffffff !important;
}

::ng-deep .cds--data-table tbody tr {
  cursor: pointer;
  background-color: #ffffff;
}

::ng-deep tr.bx--parent-row:not(.bx--expandable-row) td {
  background-color: #ffffff;
}

::ng-deep .cds--data-table tbody {
  background-color: #ffffff;
}

::ng-deep tr.cds--parent-row.bx--expandable-row td {
  background-color: white;
  border-bottom: none;
}

::ng-deep tr.cds--parent-row.bx--expandable-row + tr[data-child-row] td {
  background-color: white;
  border-top: none;
}

.Pagination {
  padding-top: 2em;
  margin: auto;
}
