.smartcardType {
  width: 6em;
  height: 4em;
  font-weight: 500;
  margin-bottom: 1.5em;
}

table {
  width: 100%;
  margin-left: 8em;
  float: right;
}

.wrapper {
  display: grid;
  grid-template-columns: 10em auto auto;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
}

span.label {
  display: block;
  //font-size: 0.8em;
  font-weight: 300;
}

span.value {
  display: block;
  //font-size: 0.8em;
  width: auto;
  padding-bottom: 0.5em;  
}