[*.{kt,kts}]
ktlint_standard_no-wildcard-imports=disabled
ktlint_standard_no-wildcard-imports=disabled
ktlint_standard_trailing-comma-on-declaration-site=disabled
ktlint_standard_max-line-length=disabled