<cds-modal
  [open]="open"
  (overlaySelected)="closeModal()"
  size="sm">
  <cds-modal-header (closeSelect)="closeModal()">Vault password</cds-modal-header>
  <section class="cds--modal-content">
    <cds-label>
      {{prompt}}
      <input
        modal-primary-focus 
        ibmText
        type="password"
        [(ngModel)]="password"
        (keydown.enter)="returnPassword()"
      >
    </cds-label>
  </section>
  <cds-modal-footer>
    <button class="cds--btn cds--btn--secondary" (click)="closeModal()">Abbrechen</button>
    <button class="cds--btn cds--btn--primary" (click)="returnPassword()">OK</button>
  </cds-modal-footer>
</cds-modal>
