<cds-header brand="gematik" name="Directory" [route]="['']">
  <cds-header-navigation>
    <cds-header-item 
      *ngFor="let nav of adminMenuLinks"
      [isCurrentPage]="isActive(nav.route)"
      [route]="[nav.route]"
      >{{nav.title}}
    </cds-header-item>
  </cds-header-navigation>
  <cds-header-global>
    <cds-header-action title="Settings" routerLink="/settings">
      <svg cdsIcon="settings" size="24" class="icoon settings"></svg>
    </cds-header-action>
  </cds-header-global>
</cds-header>


<main class="bx--content">
  <router-outlet></router-outlet>
</main>

