<div
  cdsGrid
  [useCssGrid]="true"
  [condensed]="true"
>

  <div cdsCol [columnNumbers]="{sm: 0, md: 1, lg: 2}"></div>

  <div cdsCol [columnNumbers]="{sm: 4, md: 6, lg: 12}">
    <h1 class="Headline">Einstellungen</h1>
    <cds-tabs [followFocus]="true" [isNavigation]="true" [cacheActive]="false">
      <cds-tab heading="Administration">
        <app-admin-settings></app-admin-settings>
      </cds-tab>
      <cds-tab heading="Einstellungen" *ngIf="config" (selected)="tabSelected()">
        <div class="notification-container" cdsCol [columnNumbers]="{sm: 3, md: 6, lg: 8}"></div>
        <div cdsCol [columnNumbers]="{sm: 3, md: 6, lg: 8}">
          <cds-inline-loading
            [state]="configState"
            loadingText="Updating configuration"
            successText="Configuration updated"
            errorText="Configuration update error">
          </cds-inline-loading>
        </div>
        <div cdsCol class="form-item" [columnNumbers]="{sm: 3, md: 6, lg: 8}">
          <cds-checkbox
            [(ngModel)]="config.updates.preReleasesEnabled"
          i18>Enable Pre-Releases</cds-checkbox>
        </div>
        <div cdsCol class="form-item" [columnNumbers]="{sm: 3, md: 6, lg: 8}">
          <cds-checkbox
            [(ngModel)]="config.httpProxy.enabled"
          i18>Enable Proxy</cds-checkbox>
        </div>
        <div *ngIf="config.httpProxy.enabled" cdsCol class="form-item" [columnNumbers]="{sm: 3, md: 6, lg: 8}">
          <cds-label>
            Proxy URL
            <input
                ibmText
                [(ngModel)]="config.httpProxy.proxyURL"
            >
          </cds-label>
        </div>
        <div cdsCol class="form-item" [columnNumbers]="{sm: 3, md: 6, lg: 8}">
          <button ibmButton="primary" i18n (click)="updateConfig()">Update Config</button>
        </div>
      </cds-tab>
    </cds-tabs>
  </div>

  <div cdsCol [columnNumbers]="{sm: 0, md: 1, lg: 2}"></div>

</div>

<cds-placeholder></cds-placeholder>