.circle {
  background: var(--background);
  border-radius: 50%;
  width: 6em;
  height: 6em;
	transition: all 500ms ease-in;
	will-change: transform;
  text-align: center;
  padding-top: 2.5em;
  font-weight: 600;
}

.circle span {
  font-weight: 600;
  font-size: smaller;
}