$feature-flags: (
  grid-columns-16: true
);

$font-path: "carbon-components/src/globals/fonts";
@import "carbon-components/scss/globals/scss/styles.scss";

main {
  margin-top: 48px;
}

.bx--btn--primary {
  background-color: #010E52;
}

.bx--btn--primary:hover {
  background-color: #010E52;
}

.Headline {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height, or 150% */
  letter-spacing: 0.16px;
  
  /* Interactive/$interactive-01 */
  color: #010E52;  
}
  
.Info {
  height: 20px;
  
  /* body-long-01 */
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.16px;
  
  /* Text/$text-01 */
  color: #161616;
  
  margin-bottom: 28px;
}

.info {
  fill: #4589ff;
}

.success {
  fill: #198038;
}

.warning {
  fill: #f1c21b;
}

.error {
  fill: #da1e28;
}

h1 {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}

h2 {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.bx--tag {
  white-space: nowrap;
}