<div ibmRow>
  <div ibmCol [columnNumbers]="{'lg': 16}">
    <ibm-breadcrumb [noTrailingSlash]="true">
      <ibm-breadcrumb-item>
        <a [routerLink]="['../../search']">Suche</a>
      </ibm-breadcrumb-item>
      @if (queryString) {
        <ibm-breadcrumb-item>
          <a [routerLink]="['../../search-results', {'q': queryString}]">Suchergebnise</a>
        </ibm-breadcrumb-item>
      }
      <ibm-breadcrumb-item>
        Eintrag
      </ibm-breadcrumb-item>
    </ibm-breadcrumb>
  </div>
</div>
@if (globalNotification) {
  <div ibmRow>
    <div ibmCol [columnNumbers]="{'lg': 3}"></div>
    <div style="padding:1em" ibmCol [columnNumbers]="{'lg': 10}">
      @if (globalNotification) {
        <cds-inline-notification [notificationObj]="globalNotification" (close)="globalNotification = null">
        </cds-inline-notification>
      }
    </div>
    <div ibmCol [columnNumbers]="{'lg': 3}"></div>
  </div>
}
@if (entry) {
  <div ibmRow>
    <div ibmCol [columnNumbers]="{'lg': 3}"></div>
    <div ibmCol [columnNumbers]="{'lg': 10}">
      <div ibmRow>
        <div ibmCol>
          <h1>{{entry.base.displayName}}</h1>
        </div>
        <div ibmCol [columnNumbers]="{'lg': 4}" class="right">
          <button cdsButton="primary" (click)="onEdit()">
            Bearbeiten
            <svg class="cds--btn__icon" cdsIcon="edit" size="16"></svg>
          </button>
        </div>
      </div>
      <ibm-tabs [isNavigation]="true" [followFocus]="true">
        <ibm-tab heading="Allgemein">
          <h2>{{entryKindTitle}}</h2>
          <ibm-label
            [invalid]="validateBaseField('displayName')"
            [invalidText]="'Ungültiger Anzeigename'">
            Anzeigename
            <input
              cdsText
              [(ngModel)]="entry.base.displayName"
              readonly="true"
              [invalid]="validateBaseField('displayName')"
              >
          </ibm-label>
          @if (entry.base.fhirResourceType == 'Practitioner') {
            <div ibmRow>
              <ibm-label
                ibmCol
                [columnNumbers]="{'lg': 8}"
                [invalid]="validateBaseField('sn')"
                [invalidText]="'Ungültiger Nachname'">
                Name
                <input
                  ibmText
                  [(ngModel)]="entry.base.sn"
                  readonly="true"
                  [invalid]="validateBaseField('sn')"
                  >
              </ibm-label>
              <ibm-label
                ibmCol
                [columnNumbers]="{'lg': 8}"
                [invalid]="validateBaseField('givenName')"
                [invalidText]="'Ungültiger Vorname'">
                Vorname(n)
                <input
                  ibmText
                  [(ngModel)]="entry.base.givenName"
                  readonly="true"
                  [invalid]="validateBaseField('givenName')"
                  >
              </ibm-label>
            </div>
          }
          <ibm-label>
            TelematikID
            <input
              ibmText
              [(ngModel)]="entry.base.telematikID"
              readonly="true"
              >
          </ibm-label>
          <ibm-label>
            DomainID
            <textarea
              ibmText
              readonly="true"
            >{{domainIDText}}</textarea>
          </ibm-label>
          <ibm-label>
            Adresse
            <input
              ibmText
              [(ngModel)]="entry.base.streetAddress"
              readonly="true"
              >
          </ibm-label>
          <div ibmRow>
            <ibm-label
              ibmCol
              [columnNumbers]="{'lg': 11}"
              >
              Ort
              <input
                ibmText
                [(ngModel)]="entry.base.localityName"
                readonly="true"
                >
            </ibm-label>
            <ibm-label
              ibmCol
              [columnNumbers]="{'lg': 5}"
              >
              PLZ
              <input
                ibmText
                [(ngModel)]="entry.base.postalCode"
                readonly="true"
                >
            </ibm-label>
          </div>
          <div ibmRow>
            <ibm-label
              ibmCol
              [columnNumbers]="{'lg': 11}"
              >
              Bundesland
              <input
                ibmText
                [(ngModel)]="entry.base.stateOrProvinceName"
                readonly="true"
                >
            </ibm-label>
            <ibm-label
              ibmCol
              [columnNumbers]="{'lg': 5}"
              [invalid]="validateBaseField('countryCode')"
              [invalidText]="'Ungültiger Landescode'"
              >
              Landescode
              <input
                ibmText
                [(ngModel)]="entry.base.countryCode"
                readonly="true"
                [invalid]="validateBaseField('countryCode')"
                >
            </ibm-label>
          </div>
          <ibm-structured-list
            [condensed]="true">
            <ibm-list-header>
              <ibm-list-column class="icon"></ibm-list-column>
              <ibm-list-column [nowrap]="true">Holder</ibm-list-column>
              <ibm-list-column class="right">Code</ibm-list-column>
            </ibm-list-header>
            @for (code of entry.base.holder; track code) {
              <ibm-list-row>
                <ibm-list-column class="icon"><svg [ibmIcon]="codeIconName(code)" [class]="codeIconClass(code)"></svg></ibm-list-column>
                <ibm-list-column>{{code?.display}}</ibm-list-column>
                <ibm-list-column class="right">{{code?.code}}</ibm-list-column>
              </ibm-list-row>
            }
            @if ((entry.base.holder?.length ?? 0) == 0) {
              <ibm-list-row>
                <ibm-list-column class="icon"><svg ibmIcon="warning--filled" class="warning"></svg></ibm-list-column>
                <ibm-list-column>Keine Holder</ibm-list-column>
              </ibm-list-row>
            }
          </ibm-structured-list>
          <ibm-structured-list
            [condensed]="true">
            <ibm-list-header>
              <ibm-list-column class="icon"></ibm-list-column>
              <ibm-list-column [nowrap]="true">ProfessionOID</ibm-list-column>
              <ibm-list-column class="right">Code</ibm-list-column>
            </ibm-list-header>
            @for (code of entry.base.professionOID; track code) {
              <ibm-list-row>
                <ibm-list-column class="icon"><svg [ibmIcon]="codeIconName(code)" [class]="codeIconClass(code)"></svg></ibm-list-column>
                <ibm-list-column>{{code?.display}}</ibm-list-column>
                <ibm-list-column class="right">{{code?.code}}</ibm-list-column>
              </ibm-list-row>
            }
            @if ((entry.base.professionOID?.length ?? 0) == 0) {
              <ibm-list-row>
                <ibm-list-column class="icon"><svg ibmIcon="error--filled" class="error"></svg></ibm-list-column>
                <ibm-list-column>Keine ProfessionOID</ibm-list-column>
              </ibm-list-row>
            }
          </ibm-structured-list>
          <ibm-structured-list
            [condensed]="true">
            <ibm-list-header>
              <ibm-list-column class="icon"></ibm-list-column>
              <ibm-list-column [nowrap]="true">Spezialisierung</ibm-list-column>
              <ibm-list-column class="right">Code</ibm-list-column>
            </ibm-list-header>
            @for (code of entry.base.specialization; track code) {
              <ibm-list-row>
                <ibm-list-column class="icon"><svg [ibmIcon]="codeIconName(code)" [class]="codeIconClass(code)"></svg></ibm-list-column>
                <ibm-list-column>{{code?.display}}</ibm-list-column>
                <ibm-list-column class="right">{{code?.code}}</ibm-list-column>
              </ibm-list-row>
            }
            @if ((entry.base.specialization?.length ?? 0) == 0) {
              <ibm-list-row>
                <ibm-list-column><svg ibmIcon="warning--filled" class="warning"></svg></ibm-list-column>
                <ibm-list-column>Keine Spezialisierung</ibm-list-column>
              </ibm-list-row>
            }
          </ibm-structured-list>
          <ibm-structured-list [condensed]="true">
            <ibm-list-header>
              <ibm-list-column></ibm-list-column>
              <ibm-list-column [nowrap]="true">KIM-Adresse</ibm-list-column>
              <ibm-list-column>Anbieter</ibm-list-column>
              <ibm-list-column class="right">Version</ibm-list-column>
            </ibm-list-header>
            @for (kimAddress of entry.kimAddresses; track kimAddress) {
              <ibm-list-row>
                <ibm-list-column><svg ibmIcon="checkmark--filled" class="success"></svg></ibm-list-column>
                <ibm-list-column>{{kimAddress?.mail}}</ibm-list-column>
                <ibm-list-column>{{kimAddress?.provider?.display}}</ibm-list-column>
                <ibm-list-column class="right">{{kimAddress?.version}}</ibm-list-column>
              </ibm-list-row>
            }
            @if ((entry.kimAddresses?.length ?? 0) == 0) {
              <ibm-list-row>
                <ibm-list-column><svg ibmIcon="warning--filled" class="warning"></svg></ibm-list-column>
                <ibm-list-column>Keine KIM-Adressen</ibm-list-column>
              </ibm-list-row>
            }
          </ibm-structured-list>
        </ibm-tab>
        <ng-template #fhirHeading><svg ibmIcon="fire" size="16" style="vertical-align: middle; margin-right: 4px;"></svg> FHIR</ng-template>
        <ibm-tab [heading]="fhirHeading" title="FHIR">
        </ibm-tab>
        <ibm-tab heading="Karten">
          <h2>Karten</h2>
          @for (smartcard of entry.smartcards; track smartcard) {
            <app-admin-directory-entry-smartcard
              [entry]="entry"
              [smartcard]="smartcard">
            </app-admin-directory-entry-smartcard>
          }
          <ibm-structured-list [condensed]="true">
            @if (entry.smartcards === undefined || entry.smartcards.length == 0) {
              <ibm-list-row>
                <ibm-list-column><svg ibmIcon="warning--filled" class="warning"></svg></ibm-list-column>
                <ibm-list-column>Keine Karten</ibm-list-column>
              </ibm-list-row>
            }
          </ibm-structured-list>
          <h2>Zertifikate</h2>
          <div class="UserCertificateList">
            <ibm-structured-list [condensed]="true">
              <ibm-list-header>
                <ibm-list-column [nowrap]="true"> </ibm-list-column>
                <ibm-list-column [nowrap]="true">Seriennummer</ibm-list-column>
                <ibm-list-column [nowrap]="true">Alg</ibm-list-column>
                <ibm-list-column [nowrap]="true">Herausgeber</ibm-list-column>
                <ibm-list-column [nowrap]="true">herausgegeben</ibm-list-column>
                <ibm-list-column [nowrap]="true">läuft ab</ibm-list-column>
              </ibm-list-header>
              @for (cert of userCertificateList; track cert) {
                <ibm-list-row>
                  <ibm-list-column><svg [ibmIcon]="cert.iconName" [class]="cert.iconClass"></svg></ibm-list-column>
                  <ibm-list-column>{{cert.serialNumber}}</ibm-list-column>
                  <ibm-list-column>{{cert.algorithm}}</ibm-list-column>
                  <ibm-list-column>{{cert.issuer}}</ibm-list-column>
                  <ibm-list-column>{{cert.notBefore}}</ibm-list-column>
                  <ibm-list-column>{{cert.notAfter}}</ibm-list-column>
                </ibm-list-row>
              }
              @if (userCertificateList === undefined || userCertificateList.length === 0) {
                <ibm-list-row>
                  <ibm-list-column><svg ibmIcon="warning--filled" class="warning"></svg></ibm-list-column>
                  <ibm-list-column>Keine Zertifikate</ibm-list-column>
                  <ibm-list-column></ibm-list-column>
                  <ibm-list-column></ibm-list-column>
                  <ibm-list-column></ibm-list-column>
                  <ibm-list-column></ibm-list-column>
                </ibm-list-row>
              }
            </ibm-structured-list>
          </div>
        </ibm-tab>
        <ibm-tab heading="Protokoll">
          <h2>Änderungsprotokoll</h2>
          <ibm-structured-list
            [condensed]="true">
            <ibm-list-header>
              <ibm-list-column class="icon"></ibm-list-column>
              <ibm-list-column [nowrap]="true">Zeitstempel</ibm-list-column>
              <ibm-list-column [nowrap]="true">Bearbeiter</ibm-list-column>
              <ibm-list-column>Operation</ibm-list-column>
            </ibm-list-header>
            @for (log of entry.logs; track log) {
              <ibm-list-row>
                <ibm-list-column class="icon"><svg ibmIcon="checkmark--filled" class="success"></svg></ibm-list-column>
                <ibm-list-column>{{formatDate(log.logTime)}}</ibm-list-column>
                <ibm-list-column>{{log.clientID}}</ibm-list-column>
                <ibm-list-column>{{operationLabel(log.operation)}}</ibm-list-column>
              </ibm-list-row>
            }
          </ibm-structured-list>
        </ibm-tab>
        <ibm-tab heading="Rohdaten Admin">
          <ibm-code-snippet
            [display]="snippetDisplay"
            [maxCollapsedNumberOfRows]="300"
          >{{rawData}}</ibm-code-snippet>
        </ibm-tab>
        <ng-template #rohdatenHeading><svg ibmIcon="fire" size="16" style="vertical-align: middle; margin-right: 4px;"></svg> Rohdaten FHIR</ng-template>
        <ibm-tab [heading]="rohdatenHeading" title="Rohdaten FHIR">
          @if (fhirError) {
            <cds-inline-notification [notificationObj]="fhirError"></cds-inline-notification>
          } @else {
            <ibm-code-snippet
              [display]="snippetDisplay"
              [maxCollapsedNumberOfRows]="300"
            >{{rawFhirData}}</ibm-code-snippet>
          }
        </ibm-tab>
      </ibm-tabs>
    </div>
    <div ibmCol [columnNumbers]="{'lg': 3}"></div>
  </div>
}
