h2 {
    margin-bottom: 1.5em;
}

ibm-label {
    margin-bottom: 1em;
    width: unset;
}

.right {
    text-align: right;
}

.icon {
    width: 24px;
}

::ng-deep section {
    margin-bottom: 2rem !important;
}

::ng-deep textarea {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    line-height: 1.25em !important;
    height: 4.5em !important;
}