h2 {
    margin-bottom: 1.5em;
}

.right {
    text-align: right;
}

.icon {
    width: 24px;
}

::ng-deep section {
    margin-bottom: 2rem !important;
}

::ng-deep label {
    margin-bottom: 0.25em !important;    
}

::ng-deep input {
    //background-color: rgb(244,244,244) !important;
    background-color: white !important;
}

::ng-deep textarea {
    line-height: 1.25em !important;
    height: 4.5em !important;
    //background-color: rgb(244,244,244);
    background-color: white !important;
}

::ng-deep .cds--form-item {
    margin-top: 1rem !important;
}

::ng-deep .cds--structured-list {
    margin-top: 2em;
}